body{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(186, 173, 211);

}

P{
    color:rgb(83, 15, 110);
    white-space: nowrap;
}

.about{
    background: rgb(186, 173, 211);
    padding:8px;
}

img{ 
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 200px;
}



.column{
    float:left;
    margin-right: auto;
    margin: auto;
    width: 22%
    
}

.card{
    max-height: 500px;
    min-height: 500px;
    box-shadow: 0px 4px 6px 0 #b3b3b3f5;
    padding: 0 24px 0 24px;
}