h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(28, 33, 53);
}

h3{
    color: rgb(28, 33, 53);
    
}
p{
    color:  rgb(28, 33, 53);
}
img{
    max-width: 220px;
    height: 220px;
    margin-top: 10px;
}

.gallery-container{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.card{
    border-radius: 10px;
    margin: 10px;
    width: 20%;
    max-width: 280px;
    height: auto;
    padding: 5px;
    background-color: rgb(168, 158, 184);
}  
    
.gallery-container a{
    background-color: rgb(187, 176, 206);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.gallery-container a:hover{
    opacity: 70%;
    text-decoration-color: rgb(78, 66, 105);
}

body{
    background-image: linear-gradient( rgb(216, 162, 90) ,rgb(102, 87, 128))
}
